<h1>New Post sexy!</h1>

<%= simple_form_for @pic do |f| %>
  <%= f.input :hour %>
  <%= f.input :emotion %>
  <%= f.input :learned %>
  <%= f.button :submit %>
  <!-- 
   <%= submit_tag "save" %> -->
<% end %>